# Ignore Unity files:
Temp/
Library/
Logs/
build/ # my personal build folder

# Ignore Visual Studio files:
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
